:root {
	--light-grey: #eeeeee;
	--dark-grey: #686868;
	--dark: #2e2e2e;
	--darker: #292929;
	--accent: #009fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    color: var(--light-grey);
    background-color: var(--dark);
    background-image: url("../img/background-dark.png");
}

footer {
    margin-top: 30px;
    padding: 15px;
    background-color: var(--darker);
    text-align: center;
}

h1 {
    font-weight: normal;
    color: var(--accent);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease;
}

.grey {
    color: var(--dark-grey);
    font-size: 15px;
}

.link {
    color: var(--accent);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.outer {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.paragraph {
    margin-top: 50px;
    width: 100%;
}

.paragraph h2 {
    color: var(--accent);
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 25px;
}

.paragraph img {
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
    .outer {
        width: 90%;
    }
}
